body {
  all: unset;
}

body {
  margin: 0;
  display: block;
  height: 100%;
}

@font-face {
  font-family: "noto-sans-sc";
  src: url("../public/noto-sans-sc-chinese-simplified-400-normal.woff") format("woff");
}
